.post-container{
    border: 0.1px solid grey;
    width: 60%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}

.post-header{
    display: flex;
    margin: 40px;
}

.user-image img{
   width: 150px;
    height: auto;
    border-radius: 120px;
    object-fit: cover;
    cursor: pointer;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 100%;
    padding: 0 0 0 20px ;
}

.post-info h3{
    font-size: 45px;
      cursor: pointer;
}

.post-info p{
    font-size: 20px;
    color: rgb(149, 149, 149);
}
.username-box{
    display: flex;
    width: 0;
    justify-content: space-between;
    text-align: center;
}

#more-icon{
    font-size: 2em;
    font-weight: bolder;
      cursor: pointer;
}

.post-caption{
   width: auto;
   display: flex;
   margin: 0 50px;
}

.post-caption p{
    font-size: 26px;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.post-image{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img{
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.post-social{
   display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    margin-top: 20px;
    width:auto;
}

.post-social p:nth-child(2){
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 100px;
    padding: 13px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(129, 202, 226);
    color: white;
}

/* #follow-button{
    text-align: center;
    font-size: 25px;
    height: 50px;
    border: none;
    width: 100px;
    padding: 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--Pastel-Error);
    color: white;
} */

.liked-number{
    padding: 8px;
}

#liked-heart-icon{
    color: var(--Pastel-Error);
}

.card-social-icons{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.1rem;

}

.comment-count {
    padding: 7px;
    /* padding-right:2px; */
}


#comment-icon{
    margin-top: 1px;
      cursor: pointer;
      font-size: 2.9rem;
}



#post-details{
    font-size: 15px;
    text-align: center;
}


@media only screen and (max-width: 1200px){
.post-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
    }
    .user-image img{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    object-fit: cover;
    cursor: pointer;
}

.post-info{
     display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 100%;
    padding: 0 0 0 20px ;
}

.post-info h3{
    font-size: 55px;
      cursor: pointer;
}

.post-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.post-caption p{
    font-size: 30px;
     font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
}

}

/* @media only screen and (max-width: 952px){

} */

@media only screen and (max-width: 834px){

.post-container{
    border: 0.1px solid grey;
    width: 90%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
    }

.post-header{
    display: flex;
    margin: 25px;
}

.user-image img{
    width: 130px;
    height: 130px;
}

.post-image img{
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.post-info{
    width: 100%;
    padding: 0 0 0 20px ;
}

.post-info h3{
    font-size: 40px;
}

.post-info p{
    font-size: 20px;
}

.username-box{
    width: 100%;
} 

.post-caption{
   margin: 0 20px;
}

.post-caption p{
    font-size: 24px;
     font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
}

.post-image{
    margin-top: 20px;
}


.post-social{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:20px;
    margin-top: 20px;
    width:auto;
}

}

@media only screen and (max-width: 600px){

}









/* 

@media (max-width: 2000px) {
.post-header img{
 width: 20%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
}


.post-info h3{
    font-size: 50px;
      cursor: pointer;
}

.post-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.post-info{
    width: 100%;
}

.username-box{
     width: 95%;
}

#post-icon{
    font-size: 2.5em;
    font-weight: bolder;
      cursor: pointer;
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
}

.comment-count {
    padding-top: 7px;
    padding-right:1px;
}


#comment-icon{
    padding-top: 2px;
      cursor: pointer;
      font-size: 2.9rem;
}


#post-details{
    font-size: 15px;
    text-align: center;
}
}

@media (max-width: 1442px) {
.post-header img{
 width: 30%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
}


.post-info h3{
    font-size: 50px;
      cursor: pointer;
}

.post-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.post-info{
    width: 100%;
}

.username-box{
     width: 95%;
}

#more-icon{
    font-size: 2.5em;
    font-weight: bolder;
      cursor: pointer;
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
}

.comment-count {
    padding-top: 7px;
    padding-right:1px;
}


#comment-icon{
    padding-top: 2px;
      cursor: pointer;
      font-size: 2.9rem;
}


#post-details{
    font-size: 15px;
    text-align: center;
}

} */



/* 
@media (width: 1024px) {
    .post-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
.post-header img{
 width: 30%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
 
}
}

@media screen and (width: 834px) {
    .post-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .post-header img {
    width: 30%; 
    height: 120px; 
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.post-info h3{
    font-size: 35px;
}

.post-info p{
    font-size: 23px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}

@media screen and (width: 820px) {
    .post-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .post-header img {
    width: 30%; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.post-info h3{
    font-size: 35px;
}

.post-info p{
    font-size: 23px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}

@media screen and (max-width: 810px) {
    .post-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .post-header img {
    width: 30%;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.post-info h3{
    font-size: 35px;
}

.post-info p{
    font-size: 23px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}

@media screen and (width: 768px) {
    .post-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .post-header img {
    width: 30%;
    height: 120px; 
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.post-info h3{
    font-size: 40px;
}

.post-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}



@media (max-width: 435px){
     .post-container{
    border: 0.1px solid grey;
    width: 90%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .post-header img {
    width: 70%;
     height: 120px;
     object-fit: cover;
     margin-right: 15px;
     border-radius: 100px;
     -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
     -ms-border-radius: 100px;
     -o-border-radius: 100px;
}

  .post-header{
    display: flex;
    margin: 20px;
}

.post-info h3{
    font-size: 30px;
}

.post-info p{
    font-size: 20px;
    color: rgb(149, 149, 149);
}

.post-caption{
   width: auto;
   display: flex;
   margin: 0 20px;
}

.post-caption p{
    font-size: 20px;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


#more-icon{
    font-weight: bolder;
      cursor: pointer;
      font-size: 2rem;;
}


.card-social-icons{
    width: 110px;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin: -20px -20px;
    padding-top: 20px;
}

.comment-count {
    padding-top:6px;
    padding-right:1px;
}


#comment-icon{
    margin-top: 1px;
    cursor: pointer;
    font-size: 2.4rem;
}


#post-details{
    font-size: 15px;
    text-align: center;
}

} */
