 .music-container{
    border: 0.1px solid grey;
    width: 60%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
    }

.music-header{
    display: flex;
    margin: 40px;
}

.user-image img{
    width: 150px;
    height: 150px;
    border-radius: 120px;
    object-fit: cover;
    cursor: pointer;
}

.music-info{
     display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 100%;
    padding: 0 0 0 20px ;
}

.music-info h3{
    font-size: 50px;
      cursor: pointer;
}

.music-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.username-box{
     display: flex;
    width: 0;
    justify-content: space-between;
    text-align: center;
} 

#more-icon{
    font-size: 2em;
    font-weight: bolder;
      cursor: pointer;
}

.music-caption{
   width: auto;
   display: flex;
   margin: 0 50px;
}

.music-caption p{
    font-size: 28px;
     font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
}

.music-image{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-image img{
    width: 90%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.music-social{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    margin-top: 20px;
    width:auto;
}

/* .music-social p:nth-child(2){
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 100px;
    padding: 13px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(129, 202, 226);
    color: white;
} */

/* #follow-button{
    text-align: center;
    font-size: 25px;
    height: 50px;
    border: none;
    width: 100px;
    padding: 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--Pastel-Error);
    color: white;
} */


.username-box{
     width: 95%;
}

#post-icon{
    font-size: 2.5em;
    font-weight: bolder;
      cursor: pointer;
}
.liked-number{
    padding: 8px;
}


.card-social-icons{
    width: auto;
    display: flex;
    justify-content: space-around;
    font-size: 2.1rem;
}

.comment-count {
    padding: 7px;
    /* padding-right:2px; */
}


#comment-icon{
    margin-top: 1px;
      cursor: pointer;
      font-size: 2.9rem;
}

#post-details{
    font-size: 15px;
    text-align: center;
}



@media only screen and (max-width: 1200px){
.music-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
    }
    .user-image img{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    object-fit: cover;
    cursor: pointer;
}

.music-info{
     display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 100%;
    padding: 0 0 0 20px ;
}

.music-info h3{
    font-size: 55px;
      cursor: pointer;
}

.music-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.music-caption p{
    font-size: 30px;
     font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
}

}

/* @media only screen and (max-width: 952px){

} */

@media only screen and (max-width: 834px){

.music-container{
    border: 0.1px solid grey;
    width: 90%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
    }

.music-header{
    display: flex;
    margin: 25px;
}

.user-image img{
    width: 130px;
    height: 130px;
}

.music-info{
    width: 100%;
    padding: 0 0 0 20px ;
}

.music-info h3{
    font-size: 40px;
}

.music-info p{
    font-size: 20px;
}

.username-box{
    width: 100%;
} 

.music-caption{
   margin: 0 20px;
   word-wrap: break-word;
}

.music-caption p{
    font-size: 24px;
     font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
}

.music-image{
    margin-top: 20px;
}


.music-social{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:20px;
    margin-top: 20px;
    width:auto;
}

}

@media only screen and (max-width: 500px){
    .music-container{
    border: 1px solid grey;
    min-width: 97%;
    max-width: auto;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}

.music-header{
    display: flex;
    margin: 25px;
}

.user-image img{
    width: 100px;
    height: 100px;
}

.music-info{
    width: 100%;
    padding: 0 0 0 13px ;
    width:100%;
}

.music-info h3{
    font-size: 32px;
}

.music-info p{
    font-size: 16px;
}

.username-box{
    width: auto;
} 

.music-caption{
   margin: 0 20px;
   word-wrap: break-word;
}

.music-caption p{
    font-size: 20px;
}

.music-image{
    margin-top: 20px;
}

.music-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:20px;
    margin-top: 20px;
    width:auto;
}
}

@media only screen and (max-width: 356px){
    .music-container{
    border: 1px solid grey;
    min-width: 97%;
    max-width: auto;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}

.music-header{
    display: flex;
    margin: 25px;
}

.user-image img{
    width: 90px;
    height: 90px;
}

.music-info{
    width: 100%;
    padding: 0 0 0 13px ;
    width:100%;
}

.music-info h3{
    font-size: 25px;
}

.music-info p{
    font-size: 16px;
}

.username-box{
    width: auto;
} 

.music-caption{
   margin: 0 20px;
   word-wrap: break-word;
}

.music-caption p{
    font-size: 18px;
}

.music-image{
    margin-top: 20px;
}

.music-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:20px;
    margin-top: 20px;
    width:auto;
}
}