/* .music-container{
    border: 0.1px solid grey;
    width: 55%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}

.music-header{
    display: flex;
    margin: 50px;
}

.music-header img{
 width: 50%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
 cursor: pointer;
}

.music-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-info h3{
    font-size: 40px;
      cursor: pointer;
}

.music-info p{
    font-size: 20px;
    color: rgb(149, 149, 149);
}

.username-box{
    display: flex;
    /* width: 550px; */
    justify-content: space-between;
    text-align: center;
}

#more-icon{
    font-size: 2em;
    font-weight: bolder;
      cursor: pointer;
}

.music-caption{
   width: auto;
   display: flex;
   margin: 0 50px;
}

.music-caption p{
    font-size: 26px;
     font-family:Georgia, 'Times New Roman', Times, serif;
}

.music-image{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-image img{
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.music-social{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    align-items: center;
}

.music-social p:nth-child(2){
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 100px;
    padding: 13px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(129, 202, 226);
    color: white;
}

#follow-button{
    text-align: center;
    font-size: 25px;
    height: 50px;
    border: none;
    width: 100px;
    padding: 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--Pastel-Error);
    color: white;
}

.card-social-icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.comment-count {
    margin-top: 1px;
    padding-right:1px;
}


#comment-icon{
    margin-top: 1px;
      cursor: pointer;
      font-size: 2.9rem;
}

#liked-heart-icon{
    color: var(--Pastel-Error);
}

#post-details{
    font-size: 15px;
    text-align: center;
}




@media (max-width: 2000px) {
.music-header img{
 width: 20%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
}


.music-info h3{
    font-size: 50px;
      cursor: pointer;
}

.music-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.music-info{
    width: 100%;
}

.username-box{
     width: 95%;
}

#post-icon{
    font-size: 2.5em;
    font-weight: bolder;
      cursor: pointer;
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
}
.comment-count {
    margin-top: 1px;
    padding-right:1px;
}


#comment-icon{
    margin-top: 1px;
      cursor: pointer;
      font-size: 2.9rem;
}

#post-details{
    font-size: 15px;
    text-align: center;
}
}

@media (max-width: 1442px) {
.music-header img{
 width: 30%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
}


.music-info h3{
    font-size: 50px;
      cursor: pointer;
}

.music-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}

.music-info{
    width: 100%;
}

.username-box{
     width: 95%;
}

#post-icon{
    font-size: 2.5em;
    font-weight: bolder;
      cursor: pointer;
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
}
.comment-count {
    margin-top: 2px;
    padding-right:1px;
}


#comment-icon{
    margin-top: 0px;
      cursor: pointer;
      font-size: 2.9rem;
}


#post-details{
    font-size: 15px;
    text-align: center;
}

}
 */


/* 
@media (width: 1024px) {
    .music-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
.music-header img{
 width: 30%;
 height: 150px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 20px;
 
}
}

@media screen and (width: 834px) {
    .music-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .music-header img {
    width: 30%; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.music-info h3{
    font-size: 35px;
}

.music-info p{
    font-size: 23px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}

@media screen and (width: 820px) {
    .music-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .music-header img {
    width: 30%;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.music-info h3{
    font-size: 35px;
}

.music-info p{
    font-size: 23px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}

@media screen and (max-width: 810px) {
    .music-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .music-header img {
    width: 30%; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

.music-info h3{
    font-size: 35px;
}

.music-info p{
    font-size: 23px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}

@media screen and (width: 768px) {
    .music-container{
    border: 0.1px solid grey;
    width: 80%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .music-header img {
    width: 30%; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px; 
  }

.music-info h3{
    font-size: 40px;
}

.music-info p{
    font-size: 25px;
    color: rgb(149, 149, 149);
}


.card-social-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    margin-top: 10px;
    margin-bottom: 0;
}

}



@media (max-width: 435px){
    .music-container{
    border: 0.1px solid grey;
    width: 90%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
}
  .music-header img {
     width: 70%;
     height: 120px;
     object-fit: cover;
     margin-right: 15px;
     border-radius: 100px;
     -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
     -ms-border-radius: 100px;
     -o-border-radius: 100px;
}

  .music-header{
    display: flex;
    margin: 20px;
}

.music-info h3{
    font-size: 30px;
}

.music-info p{
    font-size: 20px;
    color: rgb(149, 149, 149);
}

.music-caption{
   width: auto;
   display: flex;
   margin: 0 20px;
}

.music-caption p{
    font-size: 20px;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


#more-icon{
    font-weight: bolder;
      cursor: pointer;
      font-size: 2rem;;
}


.card-social-icons{
    width: 110px;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin: -20px -20px;
    padding-top: 20px;
}

.comment-count {
    margin-top: -3px;
    padding-right:1px;
    font-size: 1.2em;
}


#comment-icon{
    margin-top: 0px;
      cursor: pointer;
      font-size: 2.4rem;
}


#post-details{
    font-size: 15px;
    text-align: center;
}

} */
