@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

.form-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-container{
    height: 80vh;
    width: 100%;
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
}


.box-1{
     width: 40%;
     height: 100%;
     background-image:url("https://images.pexels.com/photos/10001828/pexels-photo-10001828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     background-position: center;
     filter: brightness(90%);
     -webkit-filter: brightness(90%);
}

.welcome-member{
    width: 40%;
    height: 100%;
    background-image:url("https://images.unsplash.com/photo-1613392107403-9040a1f7ec8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.box-2{
     width: 58%;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-evenly;
     border: 0.1px solid grey;
      border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box-2 h2{
    font-size: 70px;
    font-family: 'Playfair Display', serif;
     color: var(--Dark-Sage);
}

.box-2 h4{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.box-2 form{
    display: flex;
    height: 50vh;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-2 label{
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.box-2 input{
    width: 60%;
    height: 15%;
    margin: 10px 0;
    border: none;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.box-2 input::placeholder{
    font-size: 1.2rem;
}

.box-2 form button{
    background-color: var(--Dark-Sage);
    color: White;
    font-size: 28px;
    /*padding: 15px 0 10px 0;
    */padding: 5px;
    width: 110px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box-2 p{
    font-size: 25px;
}

.box-2 span{
    color: blue;
    font-style: italic;
    cursor: pointer;
    font-size: 26px;
}


/** media queries **/

/** Desktop **/

@media (max-width: 1260px) {

    .box-1{
    background-size: cover; 
    background-position: center; 
}
 .welcome-member{
        background-size: cover; 
        background-position: center; 
    }
.box-2 h2{
    font-family: 'Playfair Display', serif;
     color: var(--Dark-Sage);
     width: auto;
     text-align: center;
}
.box-2 h4{
    width: auto;
    text-align: center;
}
}

/** Tablet css **/

@media (max-width: 920px) {
.box-1{
    background-size: cover; 
    background-position: center; 
}
 .welcome-member{
        background-size: cover; 
        background-position: center; 
    }
.box-2{
    padding: 0 10px;
}

.box-2 form{
    width: 100%;
}

.box-2 input{
    width: 75%;
}
}

/** Moblie css**/

@media (max-width: 650px){
    .form-box-container{
    height: 1200px;
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: 50px 0;
        width: 90%;
    }

    .box-1{
        width: 100%;
        margin-bottom: 20px;
        background-size: cover; 
        background-position: top; 
        margin-top: 30px;
    }

    .welcome-member{
        width: 100%;
        margin-bottom: 20px;
        background-size: cover; 
        background-position: right; 
         margin-top: 30px;
    }

    .box-2 form button{
   margin-top: 20px;
}

    .box-2{
    width: auto;
    }

}
