.profile-container{
    display: flex;
    justify-content: center;
    min-height: auto;
}
.card {
    width: 60%;
    height: 80vh;
    background-color: #ffffff;
    margin: 50px 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
}

/* Adjust the position of the icon */
.icon-wrapper {
  position: relative;
  display: inline-block;
}

.edit-icon {
  /* position: absolute;
  left: 96%;
  top: -220px; */
  font-size: 1rem;
}

.background-edit-icon{
  position: absolute;
  left: 80%;
  top: -40px;
  font-size: 1.5rem;
  display: flex;
  width: 160px;
  border: 0.1px solid black;
  height: 30px;
  background-color: #222121;
  color: #fff;
  opacity: .6;
  padding-top:5px;
  justify-content: center;
  border-radius:4px ;
  -webkit-border-radius:4px ;
  -moz-border-radius:4px ;
  -ms-border-radius:4px ;
  -o-border-radius:4px ;
  letter-spacing: 0.4px;
  cursor: pointer;
}


/* Hide the file input */
.background-img-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}



/* Adjust the position of the icon */
.profile-icon-wrapper {
  position: relative;
  display: inline-block;
}

.profile-edit-icon {
  /* Adjust the position of the icon as needed */
  /* For example, if you want the icon to be on the right side of the input */
  /* right: 0; */
  position: absolute;
  left: 31%;
  bottom: 13px;
  color: white;

}

/* Hide the file input */
.profile-img-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.icon-circle{
    position: absolute;
    left: 56%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(141, 138, 138);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}



.card h3 {
    font-size: 24px;
    font-weight: 500;
    color: #33363b;
}

.card p{
    font-size: 18px;
    color: #868d9b;
}

.card_profile_img {
     width: 185px;
    height: 190px;
    background-color: #868d9b;
    border: 2px solid #ffffff;
    border-radius: 120px;
    margin: 0 auto;
    margin-top: -60px;

}

.card_background_img {
    width: 100%;
    height: 300px;
    background-color: #e1e7ed;
}

.user_details p {
    margin-bottom: 20px;
    margin-top: -5px;
}

.user_details h3 {
    margin-top: 10px;
}

.card_count {
    padding: 40px;
    border-top: 1px solid #dde1e7;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.count p {
    margin-top: -10px;
}

.btn{
    padding: 16px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--Dark-Sage);
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--Pastel-Pink);
}


/** media queries **/

/** Desktop **/

@media (max-width: 1920px) {
.profile-edit-icon {
  /* Adjust the position of the icon as needed */
  /* For example, if you want the icon to be on the right side of the input */
  /* right: 0; */
  position: absolute;
  left: 31%;
  bottom: 13px;
  color: white;

}

/* Hide the file input */
.profile-img-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.icon-circle{
    position: absolute;
    left: 54%;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(141, 138, 138);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}


}

/** Tablet css **/

@media (max-width: 850px) {

}

/** Moblie css**/

@media (max-width: 650px){
    
}