header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Pastel-Sage);
    height: 70px;
    padding: 0 10px;
    box-shadow: 
    12px 1px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
     text-align: center;
}

header h1{
    padding-top: 10px;
    filter: blur(0.4px);
    -webkit-filter: blur(0.4px);
    cursor: pointer;
}

h1::after{
	  content: "blurr";
	  filter: blur(0.5px);
	  -webkit-filter: blur(0.5px);
}

.trending-hashtags{
    display: flex;
    width: 30%;
    justify-content: space-around;
    /* margin-left: 150px; */
     align-items: center;
}

.user-trending-hashtags{
    display: flex;
    /* width: 50%; */
    padding-left: 100px;
    width: 40%;
    justify-content: space-around;
    /* margin-left: 150px; */
     align-items: center;
}

.trending-hashtags p{
     border-bottom: 1px solid var(--Dark-Sage);
     font-size: 20px;
}

.trending-hashtags p:hover{
    color: var(--Pastel-Pink);
}

.user-trending-hashtags p{
     border-bottom: 1px solid var(--Dark-Sage);
     font-size: 20px;
}

.user-trending-hashtags p:hover{
    color: var(--Pastel-Pink);
}

header button{
    width: 6rem;
    height: 2rem;
    border: none;
    background-color: var();
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: var(--Pastel-Grey);
    color: white;
    font-size: 25px;
    padding-top: 2px;
    cursor: pointer;
}

header button:hover{
    background-color: var(--Pastel-Pink);
}

.profile-signout-box{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-signout-box span{
    padding-right: 15px;
}

.profile-signout-box span:hover {
    color: var(--Pastel-Pink);
}

.profile-signout-box img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    cursor: pointer;
}

.profile-signout-box span{
    font-size: 20px;
    color: var(--Dark-Sage);
    font-weight: bolder;
    font-style: italic;
    padding-top: 10px;
    cursor: pointer;
}
