:root {
    --main-color: #FFC0CB; /* Pastel Pink */
    --secondary-color: #4CAF50; /* Green */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Pastel-Sage);
    height: 10vh;
    padding: 0 20px;
    box-shadow: 
    12px 1px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
     text-align: center;
}

.hamburger-slider{
  display: none;
}

header h1{
    padding-top: 25px;
    /* filter: blur(0.4px);
    -webkit-filter: blur(0.4px); */
    cursor: pointer;
}

h1::after{
	  content: "Blurr";
	  /* filter: blur(0.5px);
	  -webkit-filter: blur(0.5px); */
}

.trending-hashtags, .user-trending-hashtags {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.trending-hashtags p, .user-trending-hashtags p {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
      margin-top: 10px;
}

.trending-hashtags p::before, .user-trending-hashtags p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--Pastel-Pink);
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s, background-color 0.3s;
}

.trending-hashtags p:hover, .user-trending-hashtags p:hover {
    color: var(--Dark-Sage);
    transform: translateY(-3px);
}

.trending-hashtags p:hover::before, .user-trending-hashtags p:hover::before {
    transform: scaleX(1);
}


header button{
    width: 6rem;
    height: 2rem;
    border: none;
    background-color: var();
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: var(--Pastel-Grey);
    color: white;
    font-size: 25px;
    padding-top: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 10px;
}

header button:hover{
    background-color: var(--Pastel-Pink);
}

.profile-signout-box{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-signout-box span{
    padding-right: 15px;
}

/* .profile-signout-box img{
    margin-right: 30px;
} */

.profile-signout-box span:hover {
    color: var(--Pastel-Pink);
}

.profile-signout-box img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    cursor: pointer;
}

.profile-signout-box span{
    font-size: 20px;
    color: var(--Dark-Sage);
    font-weight: bolder;
    font-style: italic;
    padding-top: 10px;
    cursor: pointer;
}


/** media queries **/

/** Desktop **/

@media (max-width: 1920px) {
    
  .user-trending-hashtags {
    justify-content: space-evenly;
    padding: 0;
    width: 35%;
    padding-top: 20px;
  }

  .trending-hashtags {
    justify-content: space-evenly;
    width: 30%;
    padding-top: 16px;
  }
}

/** Tablet css **/

@media (max-width: 850px) {
  header {
    height: 7vh;
    padding: 0 7px;
  }

  header button{
    margin-left: 10px;
  }

  .profile-signout-box{
    padding-top: 12px;
  }

  .profile-signout-box span{
    padding: 0;
    font-size: 18px;
  }

  .user-trending-hashtags {
    /* border: 2px solid red; */
    width: 45%;
    padding-top: 28px;
  }

  .user-trending-hashtags p{
    font-size: 22px;
  }

  .trending-hashtags{
     width: 45%;
     padding-top: 10px;
  }

  .trending-hashtags p{
    font-size: 22px;
  }
}

/** Moblie css**/

@media (max-width: 650px){
    header{
      position: relative;
    }
    .user-trending-hashtags, .trending-hashtags, .profile-signout-box, header button{
        display: none;
    }

  .hamburger-slider {
  display: flex;
  position: absolute;
  background: var(--Dark-Sage);
  height: 75vh;
  top: 65px;
  right: 0;
  width: 50%;
  z-index: 1;
  flex-direction: column;
  padding: 80px 0 0 0;
  font-size: 30px;
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.2);
}

.hamburger-slider p:hover {
  background-color: var(--Pastel-Pink);
  color: black;
  border-color:var(--Pastel-Pink);
}

.hamburger-slider p {
   color: white;
   border: 1px solid white;
   border-radius: 20px;
   padding: 20px 30px;
   margin: 10px 10px;
   font-weight: bold;
   letter-spacing: 1px;
   text-transform: uppercase;
   transform: translateX(20px);
   opacity: 0;
   transition: transform 0.1s, opacity 0.1s;
   animation: showItem 1s forwards;
   -webkit-transition: transform 0.1s, opacity 0.1s;
   -moz-transition: transform 0.1s, opacity 0.1s;
   -ms-transition: transform 0.1s, opacity 0.1s;
   -o-transition: transform 0.1s, opacity 0.1s;
   -webkit-animation: showItem 1s forwards;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

@keyframes showItem {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hamburger-slider p:nth-child(1) {
  transition-delay: 0.2s;
}

.hamburger-slider p:nth-child(2) {
  transition-delay: 0.4s;
}

.hamburger-slider p:nth-child(3) {
  transition-delay: 0.6s;
}

.hamburger-slider p:nth-child(4) {
  transition-delay: 0.8s;
}

}