/* AddPost.css */
.add-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.add-post-container h2 {
    font-size: 70px;
  margin-bottom: 20px;
}

.post-form-container {
  width: 100%;
  max-width: 800px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
}

.post-form-container form {
  display: flex;
  flex-direction: column;
}

.post-form-container label {
  font-size: 18px;
  margin-bottom: 8px;
  font-size: 25px;
}

.post-form-container textarea,
.post-form-container input,
.post-form-container select {
  padding: 12px 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  background-color: #fff;
  resize: none;
}

.post-form-container select {
    background-color: var(--Dark-Sage);
  color: #fff;
  cursor: pointer;
  font-size: 25px;
}

.image-file {
  display: none;
}

.custom-file-label {
    background-color: var(--Dark-Sage);
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 12px 16px;
  border-radius: 4px;
}

.post-form-container form img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}

.youtube-box {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.video {
  width: 100%;
  height: 200px;
}

.post-form-container form button {
    background-color: var(--Dark-Sage);
  color: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.post-form-container form button:hover {
  background-color: #4a5e72;
}
