footer{
    background-color: var(--Pastel-Sage);
    height: auto;
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    text-align: center;
}

footer h1{
    padding-top: 18px;
}

.icon-container{
    display: flex;
    width: 150px;
    justify-content: space-around;
    font-size: 1.5em;
}

.copyright-container{
    padding-top: 10px;
}

a{
    color: black;
}


/** media queries **/

/** Desktop **/

@media (max-width: 1920px) {

}

/** Tablet css **/

@media (max-width: 850px) {

}

/** Moblie css**/

@media (max-width: 500px){
    footer{
    justify-content: space-evenly;
    padding: 15px 0px;
    flex-direction: column;
}


.icon-container{
    display: flex;
    width: 120px;
    justify-content: space-around;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.copyright-container{
    padding-top: 10px;
}
}

