@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
section{
    min-height: 100vh;
}

.banner{
    position: relative;
}

.banner-header{
    position: absolute;
    text-align: center;
    top: 20px;
    left: 0px;
    font-size: 30px;
    color: rgb(253, 253, 253);
    font-weight: bolder;
}

.banner-header h2{
    font-size: 80px;
    position: relative;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 1px 5px 10px black;
}

.banner-header p{
    font-size: 50px;
    line-height:2;
    text-shadow: 1px 5px 10px black;
}