@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.container {
  display: grid;
  margin: 50px; /* Adjust as needed */
  grid-template-areas:
    "ad-box-1 ad-box-2 ad-box-3"
    "ad-box-1 ad-box-5 ad-box-3"
    "ad-box-4 ad-box-5 ad-box-6"
    "ad-box-4 ad-box-5 ad-box-6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0fr 1.1fr;
  gap: 15px;
  height: 100vh;
  position: relative;
}

.ad-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ad-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ad-box:hover:before {
  opacity: 1;
}

.hidden-h2,
.hidden-p {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* padding: 50px 20px 0 20px; */
  position: absolute;
  font-family: 'Playfair Display', serif;
  margin: 15px;
  word-wrap: break-word;
}

.ad-box:hover .hidden-h2,
.ad-box:hover .hidden-p {
  opacity: 1;
}

.hidden-p {
  font-size: 24px;
  top: 70px;
  line-height: 1.5;
  /* padding-top: 60px; */
}

.hidden-h2 {
  font-size: 40px;
  color: var(--Pastel-Sage);
  top: auto;
}

.ad-box.active:before {
  opacity: 1;
}

.hidden-h2.active,
.hidden-p.active {
  opacity: 1;
}


.ad-box-1 {
  grid-area: ad-box-1;

}

.ad-box-2 {
  grid-area: ad-box-2;

}

.ad-box-3 {
  grid-area: ad-box-3;

}

.ad-box-4 {
  grid-area: ad-box-4;

}

.ad-box-5 {
  grid-area: ad-box-5;

}

.ad-box-6 {
  grid-area: ad-box-6;

}

.container .ad-box:nth-child(4) .hidden-p {
 top: 58px;
 font-size: 22px;
}


/** media queries **/
@media only screen and (width: 1024px) {
 .container .ad-box:nth-child(4) .hidden-p {
  top: 120px;
}
}

@media only screen and (max-width: 834px) {
  .hidden-h2 {
  font-size: 35px;
  top: auto;
}
 .container .ad-box:nth-child(4) .hidden-p {
  top: 90px;
  font-size: 22px;
}
 .container .ad-box:nth-child(6) .hidden-p {
  top: 90px;
  font-size: 22px;
}
}


@media only screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "ad-box-1"
      "ad-box-2"
      "ad-box-3"
      "ad-box-4"
      "ad-box-5"
      "ad-box-6";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 50px 0;
      height: 100vh;
  }


.hidden-p {
  font-size: 21px;
  top: 55px;
  line-height: 1.5;
  /* padding-top: 60px; */
}

.hidden-h2 {
  font-size: 40px;
  color: var(--Pastel-Sage);
  top: auto;
}
 .container .ad-box:nth-child(4) .hidden-p {
  top: 55px;
}

 .container .ad-box:nth-child(6) .hidden-p {
  top: 65px;
}
}


@media only screen and  (max-width: 480px) {
  .container {
  grid-template-areas:
    "ad-box-1"
    "ad-box-2"
    "ad-box-3"
    "ad-box-4"
    "ad-box-5"
    "ad-box-6";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 250px); /* Adjust the height as needed */
  margin: 50px 0;
  height: auto;
}

/* .hidden-p {
  font-size: 20px;
  top: 40px;
  line-height: 1.5;
} */

.hidden-h2 {
  font-size: 35px;
  color: var(--Pastel-Sage);
  top: auto;
}
 .container .ad-box:nth-child(1) .hidden-p {
  top: 50px;
 font-size: 20px;
}
 .container .ad-box:nth-child(2) .hidden-p {
  top: 55px;
   font-size: 20px;
}
 .container .ad-box:nth-child(3) .hidden-p {
  top: 55px;
   font-size: 20px;
}
 .container .ad-box:nth-child(4) .hidden-p {
    top: 55px;
 font-size: 20px;
}
 .container .ad-box:nth-child(6) .hidden-p {
   top: 55px;
  font-size: 20px;
}
}

@media only screen and  (max-width: 380px) {
.container {
  grid-template-areas:
    "ad-box-1"
    "ad-box-2"
    "ad-box-3"
    "ad-box-4"
    "ad-box-5"
    "ad-box-6";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 270px); /* Adjust the height as needed */
  margin: 50px 0;
   height: auto;
}
.hidden-h2 {
  font-size: 30px;
  color: var(--Pastel-Sage);
  top: auto;
}

 .container .ad-box:nth-child(1) .hidden-p {
  top: 55px;
 font-size: 20px;
}
 .container .ad-box:nth-child(2) .hidden-p {
  top: 55px;
   font-size: 20px;
}
 .container .ad-box:nth-child(3) .hidden-p {
  top: 55px;
   font-size: 20px;
}
 .container .ad-box:nth-child(4) .hidden-p {
    top: 55px;
 font-size: 20px;
}
 .container .ad-box:nth-child(6) .hidden-p {
   top: 55px;
  font-size: 20px;
}

}
