@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.container {
  display: grid;
  margin-top: 100px;
  grid-template-areas:
    "ad-box-1 ad-box-2 ad-box-3"
    "ad-box-1 ad-box-5 ad-box-3"
    "ad-box-4 ad-box-5 ad-box-6"
    "ad-box-4 ad-box-5 ad-box-6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr 0.8fr 0.7fr 1fr;
  gap: 10px;
  height: 100vh;
}

.ad-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ad-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ad-box:hover:before {
  opacity: 1;
}

.hidden-h2,
.hidden-p {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 50px 20px 0 20px;
  position: absolute;
  font-family: 'Playfair Display', serif;
}

.ad-box:hover .hidden-h2,
.ad-box:hover .hidden-p {
  opacity: 1;
}

.hidden-p {
  font-size: 25px;
  top: 50px;
  line-height: 1.5;
  padding-top: 80px;
}

.hidden-h2 {
  font-size: 40px;
  color: var(--Pastel-Sage);
}



.ad-box-1 {
  grid-area: ad-box-1;
  background-image: url('https://images.unsplash.com/photo-1530047139082-5435ca3c4614?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNtaWxpbmclMjBwZW9wbGV8ZW58MHx8MHx8fDA%3D%3D&auto=format&fit=crop&w=900&q=60');
}

.ad-box-2 {
  grid-area: ad-box-2;
  background-image: url('https://images.unsplash.com/photo-1576788448817-9b4ddb64e4fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80');
}

.ad-box-3 {
  grid-area: ad-box-3;
  background-image: url('https://images.unsplash.com/photo-1528838960044-8ed8dd43b8fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80');
}

.ad-box-4 {
  grid-area: ad-box-4;
  background-image: url('https://images.unsplash.com/photo-1557485114-81aaad32ec19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80');
}

.ad-box-5 {
  grid-area: ad-box-5;
  background-image: url('https://images.unsplash.com/photo-1684140044332-8b5285c699f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1035&q=80');
}

.ad-box-6 {
  grid-area: ad-box-6;
  background-image: url('https://images.unsplash.com/photo-1473396413399-6717ef7c4093?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
}
